/* Your CSS styles go here */
.content {
    max-width: 500px;
    margin: auto;
  }
#background{
    background-color: lightcyan;
    align-content: center;

}

.img{
    float: right;
}

h2{
    color: orange;

}

div>p{
    color: red;
}

.desc p{
    color: blue;
}

.name {
    width: 300px;
    height: 200px;
    background-color: black;
    color: white
  }

.name:hover{
    background-color: white;
    color: black;
  }

  /* Responsive Styles*/



@media (max-width: 575px) {
    .section{
      width: 90%;
      font-size: 32px;
    }
  }
  
  @media (max-width: 860px) and (min-width: 576px) {
    .section {
      width: 30%;
      font-size: 24px;
    }
  }
  